<div class="row regis">

<div class="navbar navbar-inverse navbar-fixed-top">
	<%= image_tag("int_logo.png", :alt => "Logo") %>
</div>

<%= content_tag :h2 , class: @verification[1] do -%> 
<%= @verification[0] -%> </br>
<%= @verification[2] -%>
<% end -%>

<section id="contenu2" class="span6">
	<div class="hero-unit">
		<h1>Register</h1>
		<p>Do you want to learn stocks and play a strategy game at the same time ? Do you want to acquire stocks but not really ?  </br><strong>Well, we got your back !</strong></p>

		<%=form_for :user, url: url_for( :controller => :user, :action => :deliver ) do |f| %>
				<%= f.label "Username : " %>
				<%= f.text_field :username, :class=>"register-control",:placeholder=>"Username", :type=>"text"%>
				</br>
				<%= f.label "Password : " %>
				<%= f.text_field :password, :class=>"register-control",:placeholder=>"Password", :type=>"password"%>
				</br>
				<%= f.label "Password : " %>
				<%= f.text_field :password2, :class=>"register-control",:placeholder=>"Password", :type=>"password"%>
				</br>
				<%= f.label "Email : " %>
				<%= f.text_field :email, :class=>"register-control",:placeholder=>"Email", :type=>"email"%>

			<div class="actions">
				<%= f.submit "Register", :class=>"demandBtn btn btn-large registerbtn"%>
			</div>
		<% end %>

	</div>
</section>

</div>