<h2><%= @owner.message %></h2>
<h4><%= @owner.description %></h4>
<p>
  The time is now: <%= Time.now %>
</p>
<h4><%= @owner.companies %></h4>
<ul>
  <% for @item in @owner.companies %>
    <li><%= @item %></li>
  <% end %>
</ul>