<div class="row regis">
<div class="navbar navbar-inverse navbar-fixed-top">
	<%= image_tag("int_logo.png", :alt => "Logo") %>
</div>

<section id="contenu" class="span6">
	<div class="hero-unit">
		<h1>Activate account for <%=@username%></h1>
		<%=form_for :activate, url: url_for( :controller => :activate, :action => :deliver ) do |f| %>
		 		<%=f.hidden_field :username, :value => @username%>
		 		<%=f.hidden_field :password, :value => @password%>
				<%= f.label "Verification Code : " %>
				<%= f.text_field :verification, :class=>"register-control",:placeholder=>"Verification Code", :type=>"text"%>
			<div class="actions">
				<%= f.submit "Activate your account ", :class=>"registerPgBtn btn btn-large registerbtn"%>
			</div>
		<% end %>
	</div>
</section>
</div>